<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="scripts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let script of scripts">
    <mat-expansion-panel-header>
      {{ script.operation }}
    </mat-expansion-panel-header>
    {{ script.result }}
    <mat-action-row *ngIf="userIsAuthenticated && userId === script.creator">
      <a mat-button color="primary" [routerLink]="['/edit',script.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(script.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
 [length]="totalScripts"
 [pageSize]="scriptsPerPage"
 [pageSizeOptions]="pageSizeOptions"
 (page)="onChangedPage($event)"
 *ngIf="scripts.length > 0"
 ></mat-paginator>
<p class="info-text mat-body-1" *ngIf="scripts.length <= 0 && !isLoading">
  No Scripts Added yet
</p>
